form {
  margin-bottom: 10px;
  input {
    max-width: 150px;
    border: 1px solid #999;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px 15px;
    font-size: 17px;
  }
  button {
    height: 32px;
    width: 90px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #56ab2f;
  }
}
